<table class="table">
</table>


<div class="content-container">

  <div class="content-header-container">
    <h1>Most Popular Companies</h1>
  </div>

  <div class="link-body-container">
    <table class="table">
      <th>Rank</th>
      <th class="custom-col">Company</th>
      <th>Total Applications</th>
      <% Company.most_popular.each.with_index(1) do |company, i| %>
        <tr>
          <td class="td-align-center"><%= i.to_s %></td>
          <td class="custom-col"><%= link_to(company.name, company_path(company))%></td>
          <td class="td-align-center"><%= company.job_applications.size.to_s %></td>
        </tr>
      <% end %>
    </table>
  </div>


</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 1000%;}
  body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
