<div class="link-secondary-subcontainer">
  <p><%= link_to("Delete", job_application_note_path(note.job_application, note), :method => :delete, :data => {:confirm => "Are you sure?"}) %></p>
  <p><%= link_to("Edit", edit_job_application_note_path(note.job_application, note)) %></p>
</div>
