<br>
<div class="form-container-large">

  <% if @note.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @note} %>
  <% end %>

  <div class="form-body-container-large">
  <div style="text-align: center">
  <h2>New Application Note</h2>
  </div>
    <%= form_for(@note, :url => job_application_notes_path(@note.job_application), :method => "post") do |f| %>
      <%= render :partial => "job_application_note", :locals => {:f => f} %>
      <%= f.submit "Create new note", :class => "form-submit-btn" %>
    <% end %>
  </div>

</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 1000%;}
  body {
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-sky-blue-solid-color-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
