<h1> About Us </h1>


<!-- CSS -->
<style type="text/css">
  html, body { height: 1000%;}
  body {
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-sky-blue-solid-color-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
