<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
    <br><br>

<div class="jumbotron float-content-left-container">


  <div id="homepage-title-container">
    <h2>Welcome to AppHub</h2>
    <p>___________________________________________</p>
  </div>

  <div id="homepage-description-container">
    <p>
      Our application is designed for you to track your job applications
      and esure that you get the job you deserve!
    </p>
  </div>

</div>

<div class="float-content-right-container">
  <div class="form-container">

    <div class="form-body-container">
    <h2> Create Account </h2>
      <%= form_for @user do |f| %>
        <%= render :partial => "users/signup_form", :locals => {:f => f} %>
        <%= f.submit "Sign up", :class => "form-submit-btn" %>
      <% end %>
    </div>

  </div>
</div>
