<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
    <br><br>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="jumbotron float-content-left-container">


  <div id="homepage-title-container">
  <br>
    <h2>Welcome to AppHub</h2>
    <p>___________________________________________</p>
  </div>

  <div id="homepage-description-container">
    <p>
      Our application is designed for you to track your job applications
      and esure that you get the job you deserve!
    </p>
    <br>
    <%= link_to "Join Us", "/signup", :class => "btn btn-secondary" %>   <%= link_to "Learn More", "/about", :class => "btn btn-secondary" %>


  </div>

</div>
