<div class="content-container">

  <div class="content-header-container">
    <h1 class="left-align"><%= @company.name %></h1>
  </div>

  <% @company.job_applications.order(:start_date => :desc).each do |job_application| %>
    <div class="link-body-container">
      <%= render :partial => "job_applications/delete_edit", :locals => {:job_application => job_application, :user => job_application.user} %>
      <%= render :partial => "link_to_job_applications", :locals => {:job_application => job_application} %>
    </div>
  <% end %>

</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 5000%;}
  body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
