.content-container {
    box-sizing: border-box;
    display: block;
    color:  rgb(252, 249, 249);
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto;
    padding: 0 25px 50px;
  }

  .content-header-container {
    box-sizing: border-box;
    display: block;
    color: rgb(252, 249, 249);
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 20px;
    padding: 30px 0 0;
    text-align: center;
  }
  .content-header-container h1 {
    margin: 0;
    padding: 0;
  }
  h1.left-align {
    text-align: left;
  }
  .content-header-container h2, .content-header-container h3 {
    color: rgb(252, 249, 249);
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
  }
  h2.header-top {
    margin: 0 0 20px;
  }
  h2.header-top a:link, h2.header-top a:visited {
    color: rgb(40, 40, 40);
    text-decoration: underline;
  }
  h2.header-top a:hover, h2.header-top a:active {
    color: rgb(0, 125, 255);
  }
  h2.header-top div {
    box-sizing: border-box;
    display: block;
    float: right;
    font-size: 16px;
    margin: 0;
    padding: 4px 0 0;
  }

  .content-body-container {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: block;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    color: rgb(40, 40, 40);
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin: 10px auto 0;
    padding: 20px;
  }
  .content-body-container p {
    margin: 10px 0 0;
    padding: 0;
  }
  .content-body-container a {
    margin: 0 0 10px;
    padding: 0;
  }
  .content-body-container a:link, .content-body-container a:visited {
    color: rgb(40, 40, 40);
    text-decoration: underline;
  }
  .content-body-container a:hover, .content-body-container a:active {
    color: rgb(0, 125, 255);
  }
