@import url('https://fonts.googleapis.com/css?family=Notable');

* {
  font-family: Arial, Helvetica, sans-serif;
 }

 span.make-bold {
   font-weight: bold;
 }

 span.make-italic {
   font-style: italic;
 }

.logo-font {
  font-family: 'Notable', block;
  margin: 0;
  padding: 0 20px 0 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
