 #header-login-logout-container {
    box-sizing: border-box;
    float: right;
    color: rgb(125, 125, 125);
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 32px 0 0;
  }

  .header-link {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .header-link a:link, .header-link a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .header-link a:hover, .header-link a:active {
    color: rgb(125, 125, 125);
  }
