  #footer-container {
    box-sizing: border-box;
    display: block;
    color: rgb(125, 125, 125);
    font-size: 12px;
    font-weight: normal;
    margin: 0 25px;
    padding: 24px 0 0;
  }

  .header-link {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .header-link a:link, .header-link a:visited {
    color: rgb(244, 246, 248);
    text-decoration: none;
  }
  .header-link a:hover, .header-link a:active {
    color: rgb(244, 246, 248);
  }

  .footer-link {
    box-sizing: border-box;
    display: inline-block;
    color: rgb(119, 121, 122);
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .footer-link a:link, .footer-link a:visited {
    color: rgb(119, 121, 122);
    text-decoration: none;
  }
  .footer-link a:hover, .footer-link a:active {
    color: rgb(119, 121, 122);
    text-decoration: underline;
  }
